.gg7_stock_status_wrapper {
  .gg7_stock_status_dia8esimo {
    color: #28A745;
  }
  .gg7_stock_status_1-3-meres {
    color: #FD7E14;
  }
  .gg7_stock_status_4-10-meres {
    color: #FD7E14;
  }
  .gg7_stock_status_katopin-paraggelias {
    color: #DC3545;
  }
}
